
body {
    font-family: Arial, sans-serif;
    background-color: #F7F7F7;
}

.container {
    
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      
    margin: 0 auto;
    width: 400px;
    padding: 20px;
    background-color: #FFF;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

input[type=text], input[type=password] {
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    border: none;
    border-radius: 3px;
    background-color: #F2F2F2;
    box-sizing: border-box;
}

input[type=submit] {
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #4CAF50;
    color: #FFF;
    cursor: pointer;
    font-weight: bold;
}

input[type=submit]:hover {
    background-color: #3E8E41;
}

.error {
    color: #F00;
    margin-bottom: 20px;
}
